body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;


  background-color: beige;
  color: white;
}

header {
  background-color: royalblue;
  padding: 1em;
}

section {
  width: 90%;
  margin: 1em auto;
  padding: 1em;

  color: black;
}

li {
  border: 2px solid black;
  width: 200px;
  margin: 1em 0;
  padding: 1em;
  list-style: none;
}